/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--font-family: arial;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
body{
  margin: 0;
  padding: 0;
}


header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.3em;
  height: 70px;
  background: linear-gradient(to bottom, rgba(0,0,0,2) 0%, rgba(0,0,0,0) 80%);
}


header a{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translate(-50%, -50%);
}

header a img{
  width: 40px;
  height: auto;
  display: block;
}

#hamburger-icon{
  width: 24px;
  height: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  border: none;
  cursor: pointer;
}

#hamburger-icon span{
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  border-radius: 2px;
}

#account-header{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  filter: invert(1);
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
#account-header img{
  width: 28px;
  height: auto;
  display: block;
}





#niet-zichtbaar{
	background-color: white;
	position: fixed;
	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
	display: none;
	flex-direction: column;
	z-index: 1000;
}

#niet-zichtbaar li{
	list-style-type: none;
	padding-top: 1.1em;
	padding-bottom: 0.9em;
	font-size: 1.3rem;
	font-weight: 100;
	font-family: var(--font-family);
	display: flex;
	justify-content: space-between;
	vertical-align: baseline;
}

#niet-zichtbaar li a{
	color: var(--color-text);
	text-decoration: none;
}

#sluiten{
	background: none;
	border: none;
	margin-left: auto;
	margin-right: 1.5em;
	padding-top: 1.4em;
	cursor: pointer;
}

#sluiten img{
	width: 25px
}

.pijltje{
	width: 12px;
    height: 14px;
	margin-right: 2.2em;
	margin-top: 3px;
	cursor: pointer;
}

#account-menu{
	display: flex;
	justify-content: flex-start;
	margin-top: auto;
    margin-bottom: 2em;
    align-items: center;
}

.account-links{
  display: flex;
  align-items: center;
  gap: 8px;
}


.hide-header{
    display: none;
}






section:first-of-type{
	position: relative;
    min-height: 100vh;
	max-height: 100vh;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 17vh;
	font-family: var(--font-family);

}

section:first-of-type h1{
	display: none;
}

section:first-of-type video{
	position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

section:first-of-type::after{
	content: "";
	position: absolute;
	bottom: 8vh;
	width: 100%;
	height: 38vh;
	background: linear-gradient(to top, rgba(0,0,0,2), rgba(0,0,0,0));
	z-index: -1;
}

section:first-of-type h2, section:first-of-type a{
	position: relative;
    z-index: 10;
    color: white;
	margin-top: 4em;
}

section:first-of-type h2{
	font-size: 2.4rem;
	margin-bottom: 1em;
}

section:first-of-type a{
	background-color: transparent;
	border: 2px solid white;
	border-width: 2px;
	border-color: white;
	border-radius: 4px;
	padding: 1.1em 5.3em;
	text-decoration: none;
	color: white;
}

section:first-of-type p{
	margin-top: 4em;
	font-size: 12px;
	line-height: 1.6;
	color: lightgray;
	margin-left: 8vw;
	margin-right: 8vw;
}



section:nth-of-type(2){
	max-width: 30em;
	display: flex;
    flex-direction: column;
	align-items: center;
	gap: 2rem;
    padding: 2rem;
	margin: 0 auto;
}

section:nth-of-type(2) h2{
	display: none;
}

.model{
    position: relative;
    width: 100%;
    max-width: 30em;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;

	border-radius: 0.7em; 
    overflow: hidden;
}

.model img{
    max-width: 30em;

	width: 100%;
    display: block;
}

.model-info{
    position: absolute;
    left: 1rem;
    bottom: 0.8rem;

    display: flex;
    align-items: center;
	width: 90%;
	justify-content: space-between;

	font-family: var(--font-family);
    color: white;
}

.model .model-info p{
    margin: 0;
    font-size: 1rem !important;
	color: white !important;
}

.model-info img{
    width: 1.4rem;
    height: auto;
	border-radius: 0;
}

section:nth-of-type(2) p:last-of-type{
	font-family: var(--font-family);
	font-size: 0.75rem;
	color: gray;
	line-height: 1.4;
}

@media (min-width: 900px){
    section:nth-of-type(2){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        justify-items: center;
        align-items: center;
		max-width: 100%;
    }

    .model{
        flex-direction: column; 
    }

    .model img{
        max-width: 22em;
		border-radius: 0.7em;
    }
}



section:nth-of-type(3){
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 2rem 0;
}

section:nth-of-type(3) h2{
	display: none;
}

section:nth-of-type(3) h3{
	font-family: var(--font-family);
	font-size: 2.1rem;
	font-weight: 100;

	text-align: left;

	max-width: 86%;
    width: auto;
}


